h3{
    color: aqua;
}

h3:hover{
    color: black;
    background-color: brown;
}
input:focus{
    color: blueviolet;
}

a:visited{
    color: rgb(1, 2, 2);
}

.box{
    border: 1px dotted palevioletred;
    width: 200px;
}
/* .ring{
    position: relative;
    top: 30px;
} */
.ring
{   position: absolute;
    top: 40px;
}
.swim-container{
    position: relative;
}
.dummy{
    height: 200px;
    width: 200px;
    border: solid 1px;
}
